<section class="mt-4">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description>
          <div class="col-md-12 col-sm-12 p-.5 mt-4">
            <h3 class="text-center">
              I have worked for
              <mat-icon > expand_more</mat-icon>
              <!-- <mat-icon ngIf="!panelOpenState"> expand_less</mat-icon> -->
            </h3>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row mb-4">
        <div class="col-md-12 col-sm-12 p-.5">
          <img
            src="assets/images/ihaveworkedfor.jpg"
            alt="i have worked for"
            class="img-fluid"
          />
        </div>
      </div>
    </mat-expansion-panel>
    <!--  <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Self aware panel </mat-panel-title>
        <mat-panel-description>
          Currently I am {{ panelOpenState ? "open" : "closed" }}
          <div class="row mb-4">
            <div class="col-md-12 col-sm-12 p-.5">
              <img
                src="assets/images/ihaveworkedfor.jpg"
                alt="i have worked for"
                class="img-fluid"
              />
            </div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel> -->
  </mat-accordion>
</section>
