<div class="container">
  <h1 class="text-center text-underline">I have worked for</h1>
  <!-- <p class="text-center">Check out some of my works</p> -->
  <div class="row mb-4">
    <div class="col-md-4 col-sm-2 p-.5">
      <img
        src="assets/images/Mechipachadiko_aamaDental_2.jpg"
        alt=""
        class="img-fluid"
      />
      <a></a>
    </div>
    <div class="col-md-4 col-sm-2 p-.5">
      <img
        src="assets/images/Best time_aamaDental_1.jpg"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-md-4 col-sm-2 p-.5">
      <img src="assets/images/jbl.jpg" alt="" class="img-fluid" />
    </div>
  </div>
</div>
