<div class="container">
  <h3 class="text-center">Work</h3>
  <p class="text-center">Check out some of my works</p>
  <div class="row mb-4">
    <div class="col-md-12 col-sm-12">
      <p class="h5 text-left"><u>Banners</u></p>
    </div>

    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/banner_3.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/banner_2.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/banner_1.jpg" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-12 col-sm-12">
      <p class="h5 text-left"><u>Fake </u></p>
    </div>

    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/apple.png" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/beer.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/jbl.jpg" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/electricbike.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/food.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/Cat Shoes.jpg" alt="" class="img-fluid" />
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-12 col-sm-12">
      <p class="h5 text-left"><u>Visiting Card</u></p>
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/aamaDental_1.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/aamaDental_2.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/Poweful.jpg" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-12 col-sm-12">
      <p class="h5 text-left"><u>Logo</u></p>
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img
        src="assets/images/NIkerunningcollection.png"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/business_card.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/airpods.jpg" alt="" class="img-fluid" />
    </div>
  </div>
</div>
