<div class="container">
  <div class="row mb-3">
    <div class="col-md-6 col-sm-6">
      <h3 class="text-left">About me</h3>
      <p>
        I am a self-taught graphic designer currently collaborating with various
        firms based in Damak. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Accusantium corrupti sed eaque quas, veniam
        dignissimos sit libero ipsum non eius tempora assumenda tenetur debitis
        illo minus! Odit itaque ex maiores.
      </p>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-6 m-auto">
      <img
        src="assets/images/b2_info.jpg"
        alt="about me"
        class="about-image img-fluid img-rounded-circle d-md-block float-right"
      />
    </div>
  </div>
</div>

<!-- about section -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 mt-3">
      <img
        src="assets/images/Cat Shoes.jpg"
        alt="about me"
        class="about-image img-fluid d-md-block"
      />
    </div>
    <div class="col-md-6 col-sm-6 mt-3">
      <h4>What do we do?</h4>
      <p>
        We at DigiChem Graphics provide best logo, card & banner design service
        at very affordable price. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Odit distinctio, quo beatae modi consequatur
        consectetur cum nihil ab odio similique! Numquam maiores asperiores odio
        minima omnis eaque minus neque hic.
      </p>
    </div>
  </div>
</div>
